:root {
  --color-header-bg-color: #CCF3FF;
  --color-header-text-color: rgba(0, 0, 0, 0.43);
  --color-text-color: rgba(0, 0, 0, 0.50);
}

/* App */
.todo {
  height: 100vh;
  color: var(--color-text-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.todo .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--color-header-bg-color); */
  /* color: var(--color-header-text-color); */
}

.todo .input {
  margin-top: 1rem;
  /* width: 100%; */
}

/* InputTodo */
.todo .add_task {
  display: flex;
  /* margin-top: 1rem; */
  /* width: 100%; */
}

/* EditTodo */
.todo .modal {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* width: 400, */
  /* bgcolor: 'background.paper', */
  /* border: '2px solid #000', */
  /* boxShadow: 24, */
  /* p: 4, */
}

.boxContents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.boxContents > * {
  margin: 0 auto;
}
.button {
  margin: 0 auto;
  justify-content: center;
}

/* ListTodo */

/* task item */
/* .todo .item {
  display: flex;
  justify-content: space-between;
  background: #000;
} */
/* .list .item {
  display: flex;
  justify-content: space-between;
} */
.item {
  display: flex;
  justify-content: space-between;
}


/* SHOW COMPLETED TASKS */
/* TODO for with puller */
/* .bottom {
  margin-top: auto;
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 3.2rem;
} */
/* for without puller */
.bottom {
  margin-top: auto;
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 3rem;
}